@import '@/assets/base.css';

#app {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  font-weight: normal;
  main {
    height: calc(100% - var(--v-layout-top));
    padding: var(--ui-padding);
    margin-left: var(--v-layout-left);
    margin-top: var(--v-layout-top);
    .main-container {
      height: 100%;
      padding: var(--ui-padding);
      border-radius: 4px;
      background-color: var(--v-main-container);
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
